.header {
    width: calc(100% - 400px);
    min-height: 74px;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        min-height: 56px;
        margin: 28px auto 0;
    }

    .header_menu_opened {
        min-height: 83px;
        margin: 142px auto 0;
        align-items: center;
    }
}