.header {
    width: calc(100% - 400px);
    min-height: 74px;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        min-height: 56px;
        margin: 28px auto 0;
    }
}